In [44]:
import numpy as np
import pandas as pd

In [45]:
data = pd.read_csv("adult.data", delimiter=", ", engine='python', names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex',
                                                                         'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income'])

In [46]:
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [47]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [48]:
temp = data[["age", "fnlwgt", "education-num", "income"]].copy()

In [49]:
temp["income"] = (temp.income==">50K").astype('int')

In [51]:
y = temp[["income"]].values
X = temp[["age", "fnlwgt", "education-num"]].copy().to_numpy()

---

The actual algorithm

In [72]:
def sigmoid(z):
    return 1/(1+np.exp(-z))

In [77]:
def loss(x, y, w):
    margin = np.dot(x, w)
    
    return y * -np.logaddexp(0, np.exp(margin) + (1 - y) * (1 + np.logaddexp(0, np.exp(margin))))

In [126]:
def loss_grad(x, y, w):
    pred = sigmoid(np.dot(x, w))
    loss = pred - y
    
    grad = np.empty(w.shape)
    
    for i in range(len(w)):
        grad[i] = loss * x[i]
    
    return grad

In [182]:
def grad_desc(X, Y, batchsize=5, eta=0.01, num_iter=100):
    
    ## List of thetas at each iteration
    theta_vec = [np.zeros(X.shape[1])]

    for _ in range(num_iter): ## There should be a condition to check if descent is finished
        ## Pick m points
        m_obs = np.random.randint(X.shape[0], size=batchsize)

        ## Calculate gradient for each observation
        grad = np.zeros(X.shape[1])
        for m in m_obs:
            grad += loss_grad(X[m], Y[m], theta_vec[-1])
        grad /= batchsize

        ## Update theta
        theta_vec.append(theta_vec[-1] - (eta*grad))

    return theta_vec[-1]